<%- include('partials/header') -%>

    <!--Profile description-->
       
    <section class="profile">
        <div class="container ">
            <h2>About <span class="lastname">me</span></h2>

            <div class="grid">
            
                <div class="profile-image">
                    <img src="images/eddy1.jpg" alt="eddy">
                </div>
        
            
                <div class="profile-info">
                    <h3 class="profile-title">Who am <span class="lastname">i?</span></h3>

                    <p class="profile-description"> I am Edidiong Daniel, an enthusiastic software developer with a positive and challenging mindset to achieve set goals. Experienced Software Engineer with a demonstrated history of working in the computer software industry. A well seasoned software developer with a passion for developing innovative programs that helps with the efficiency and effectiveness of organizational success. </p>
                   
                    <!-- <input type="button" value="Read More" class="profile-readMore btn btn-primary"> -->

                    <div class="card">
                        <div class="card-footer">
                           <span>Name:</span> <span>Edidiong Daniel Akpaenin</span>
                        </div>
                        <div class="card-footer">
                            <span>Phone:</span> <span>+234-7036478726</span> 
                        </div>
                        <div class="card-footer">
                            <span>Email:</span> <span>eddyenin6@gmail.com</span> 
                        </div>
                        <div class="card-footer">
                            <span>Country:</span> <span>Nigeria</span> 
                        </div>
                    </div>

                    <!-- <div class="profile-resume">
                        <a  href="assets/eddy.pdf" download class="btn">Download Resume</a>
                    </div> -->
                </div>
                
                
            </div>
        </div>
    </section>

    <section class="technologies">
        <div class="container">
            <h2 class="stack">
                Stack
            </h2>

            <div class="row tech-used">
                <div class="col-12 col-sm-4 ">
                    <div class="card"> 
                        <div class="card-body">
                            <img src="logo/html.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">HTML</span>
                        </div>
                       
                    </div>

                </div>
                <div class="col-12 col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="logo/css.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">CSS</span>
                        </div>
                    </div>

                </div>

               <div class="col-12 col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="logo/bootstrap.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">Bootstrap</span>
                        </div>
                    </div>
               </div>
            </div> 

            <div class="row tech-used mb-5">
                <div class="col-12 col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="logo/codeigniter.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">Codeigniter</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="logo/php.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">PHP</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="logo/javascript.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">Javascript</span>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="logo/node.png" alt="">&nbsp;&nbsp;
                            <span class="skill-name">Node</span>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section> 
</body>
</html>