    <%- include('partials/header') -%>
    <!--Name and socials display-->
    <section class="showname">
        <div class="container">
            <h1><span class="firstname">Edidiong</span> <span class="lastname">Daniel</span></h1>
            <p class="profession">I am a Software Developer</p>
        </div>
    </section>

    <section class="socials">
        <div class="container">
            <!-- <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
              </label>
              
            </div> -->
            <div class="grid">
                <ul class="social-media">
                    <li><a href="https://twitter.com/eddy_rexy" ><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://linkedin.com/in/edidiong-daniel"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/eddyenin"><i class="fa fa-github-square"></i></a></i></li>
                </ul>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
          <p>Made with <span class="heart">&hearts;</span> from E.D.<span class="lastname">A.</span></p>  
        </div>
    </footer>
<!-- 
        <aside>
            <div class="row">
                <div class="theme-switch-wrapper col-12 col-md-6">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                  </label>
                  
                </div>
                <div class="col-12 col-md-6">
                    <ul class="social-media">
                        <li><i class="fa fa-twitter-square"></i></li>
                        <li><i class="fa fa-facebook-square"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-github-square"></i></li>
                    </ul>
                </div>
                
            </div>
           
        </aside> -->
    
   
    <script type="text/javascript" src="main.js"></script>
</body>
</html>