<%- include('partials/header') -%>      
    <!--Portfolio-->
    <section class="portfolio">
        <div class="container port">
            <h2 class="">Projec<span class="lastname">ts</span></h2>
            <p class="para">All projects being featured in and developed by E.D.<span class="lastname">A.</span></p>

            <div class="grid">
                <div class="card">
                    <a href="https://abitrader.com">
                        <img src="images/abitrader.png" alt="Abitrader">
                    </a>
                    <hr>
                    <h4>Abitrader</h4>
                </div>
                <div class="card">
                    <a href="http://geptech.com.ng/">
                        <img src="images/geptech.png" alt="geptech">
                    </a>
                    <hr>
                    <h4>Geptech</h4>
                </div>
                <div class="card">
                    <a href="http://globalinterstroygroup.com/">
                        <img src="images/globalinterstroygroup.png" alt="global">
                    </a>
                    <hr>
                    <h4>Global Interstroy</h4>
                </div>
                <div class="card">
                    <a href="http://157.230.99.18/hdskin">
                        <img src="images/hdskin.png" alt="hdskin">
                    </a>
                    <hr>
                    <h4>Hdskin</h4>
                </div>
                <div class="card">
                    <a href="https://omaconiapp.nugitech.com/">
                        <img src="images/omaconi.png" alt="omaconi">
                    </a>
                    <hr>
                    <h4>Omaconi</h4>
                </div>
                <div class="card">
                    <a href="https://eddyportfolio.herokuapp.com">
                        <img src="images/portfolio.png" alt="portfolio">
                    </a>
                    <hr>
                    <h4>Eddy</h4>
                </div>
            </div>
        </div>

    
    </section>
      

        
   
</body>
</html>